<div class="container mx-auto p-8 bg-white shadow-lg rounded-lg my-6">
    <div class="text-center mb-6">
        <h1 class="text-3xl font-bold text-gray-800">Product Description</h1>
    </div>
    <table class="table-auto w-full text-left border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-100">
                <th class="px-11 py-3 text-sm font-bold text-gray-600 uppercase border border-gray-300">Label</th>
                <th class="px-11 py-3 text-sm font-bold text-gray-600 uppercase border border-gray-300">Value</th>
            </tr>
        </thead>
        <tbody>

            <!-- Display specifications if available -->
            {% if specifications %}
                {% for spec in specifications %}
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">RAM</td>
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">{{ spec.ram }}</td>
                    </tr>
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">Storage</td>
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">{{ spec.storage }}</td>
                    </tr>
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">Battery</td>
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">{{ spec.battery }}</td>
                    </tr>
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">SIM Type</td>
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">{{ spec.sim_type }}</td>
                    </tr>
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">eSIM Supported</td>
                        <td class="px-6 py-4 text-gray-700 border border-gray-300">{{ spec.e_sim }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2" class="px-6 py-4 text-center text-gray-700 border border-gray-300">
                        No specifications available.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>


